notebooks/dapeng/dapeng_result_0.966.png filter=lfs diff=lfs merge=lfs -text
notebooks/dapeng/dapeng_validation.png filter=lfs diff=lfs merge=lfs -text
notebooks/unet_42quality.hdf5 filter=lfs diff=lfs merge=lfs -text
